$breakpoints: (
    Tablet:481px,
    Laptop:769px,
    Desktop:1025px
);

@media(min-width:map-get($breakpoints, Tablet)) {
    .Img_product {
        width: 200px;
        height: 150px;
    }

    .Img_product_detail {
        width: 60%;
    }

    .ItemCart_Container{
        width: 85%;
        justify-self: center;
    }

    .Form_Container{
        width: 300px;
        padding: 15px;
        
        input{
            width: 200px;
        }
    }
}

@media(min-width:map-get($breakpoints, Laptop)) {

    .NavBar {
        flex-direction: row;
        column-gap: 100px;

        li {
            font-size: 1rem;
        }
    }

    .Container_Header-Nav {
        display: grid;
        grid-template-areas: "Header Nav";
        justify-content: space-evenly;
    }

    .Img_product {
        width: 230px;
        height: 150px;
    }

    .Prod_Container {
        width: 30%;
    }

    .Prod_Detail_Container {
        display: grid;
        grid-template-areas:
            'img title title'
            'img desc desc'
            'img price counter';
        grid-template-columns: 2.5fr 1fr 1fr;
        grid-template-rows: auto 200px auto;
        margin-top: 100px;
    }

    .Prod_Title_detail {
        grid-area: title;
        text-align: center;
        font-size: 1.3rem;
    }

    .Prod_Description {
        grid-area: desc;
        margin-top: 0;
        display: flex;
        align-self: center;
        justify-self: center;
        text-align: justify;
        line-height: 25px;
        width: 90%;
    }

    .Img_product_detail {
        grid-area: img;
        display: flex;
        justify-self: center;
        margin-top: 0;
        width: 400px;
    }

    .Prod_Price {
        grid-area: price;
        text-align: center;
        margin-top: 0;
        display: flex;
        justify-self: center;
    }

    .ItemCounter_Container {
        grid-area: counter;
        margin-top: 0;
        justify-self: center;
    }

    .btn-ToCart {
        margin-top: 0px;
        padding: 8px;
    }

    .ItemCart_Container{
        width: 700px;
        grid-template-columns: 2fr 1.5fr 0.5fr;
    }

    .Img_inCart{
        width: 230px;
        height: 150px;
    }

    .Form_Container{
        width: 400px;
        padding: 15px;
        
        input{
            width: 300px;
        }
    }

}

@media(min-width:map-get($breakpoints, Desktop)) {

    .NavBar {

        li {
            margin: 0 30px;
        }
    }

    .Container_Header-Nav {
        justify-content: center;
        column-gap: 100px;
    }

    section {
        display: flex;
        justify-content: center;
    }

    .ProdList_container {
        max-width: 1300px;
    }

    .Img_product {
        width: 300px;
        height: 200px;
    }

    .Prod_Detail_Container {
        max-width: 1000px;
        justify-self: center;
    }

    .Img_product_detail {
        width: 500px;
    }

    .ItemCounter_Container {
        width: 60%;
    }

    .btn-increase,
    .btn-decrease,
    .item-quantity {
        font-size: 1.1rem;
    }

    .btn-addToCart {
        font-size: 0.95rem;
    }

    .Prod_Price {
        font-size: 1.2rem;
    }

    .Prod_Description {
        font-size: 1.1rem;
    }

    .btn-addToCart {
        width: 120px;
    }

}