$breakpoints: (
    Tablet:481px,
    Laptop:769px,
    Desktop:1025px
);

@media(min-width:map-get($breakpoints, Tablet)) {
    .Img_product {
        width: 200px;
        height: 150px;
    }
}

@media(min-width:map-get($breakpoints, Laptop)) {

    .NavBar {
        flex-direction: row;
        column-gap: 100px;

        li {
            font-size: 1rem;
        }
    }

    .Container_Header-Nav {
        display: grid;
        grid-template-areas: "Header Nav";
        justify-content: space-evenly;
    }

    .Img_product {
        width: 230px;
        height: 150px;
    }

    .Prod_Container {
        width: 30%;
    }
}

@media(min-width:map-get($breakpoints, Desktop)) {

    .NavBar {

        li {
            margin: 0 30px;
        }
    }

    .Container_Header-Nav {
        justify-content: center;
        column-gap: 100px;
    }

    section {
        display: flex;
        justify-content: center;
    }

    .ProdList_container {
        max-width: 1300px;
    }

    .Img_product {
        width: 300px;
        height: 200px;
    }

}