.ItemCounter_Container {
    display: flex;
    flex-direction: column;
    width: 100px;
    background-color: rgb(207, 201, 190);
    padding: 5px;
    border-radius: 5px;
    margin-top: 25px;
    align-items: center;
}

.btn-addToCart {
    margin-top: 10px;
}

.item-quantity {
    padding: 0 15px;
}