.Prod_Detail_Container {
    display: flex;
    flex-direction: column;
    color: $Primary;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.Prod_Title_detail {
    font-size: 1.2rem;
    font-weight: bold;
}

.Prod_Price {
    font-size: 1.1rem;
    margin-top: 20px;
}

.Prod_Description {
    text-align: justify;
    margin-top: 30px;
    width: 90%;
}

.Img_product_detail {
    margin-top: 40px;
    width: 70%;
    box-shadow: $Shadow;
    padding: 20px;
}

.btn-ToCart {
    width: 160px;
    padding: 5px;
    background-color: rgb(207, 201, 190);
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 15px;
    font-weight: bold;
}