main {
    grid-area: Main;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
}

.ProdList_container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 25px;
    justify-content: space-around;
}

.Prod_Container {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 5px 2px rgba(121, 119, 117, 0.55);

}

.btnInfo{
    color:$Primary;
    background-color: rgb(207, 201, 190);
    border: 1px solid grey;
    margin-bottom: 10px;
}

.Img_product, .Prod_Title{
    padding: 10px;   
}

.Prod_Title{
    height: 30px;
    font-weight:bolder;
    color: $Primary;
}

.Img_product {
    width: 150px;
    height: 100px;
}

.ItemCounter_Container {
    display: flex;
    flex-direction: column;
    width: 100px;
    background-color: rgb(207, 201, 190);
    padding: 5px;
    border-radius: 5px;
    margin-top: 25px;
    align-items: center;
}

.btn-addToCart {
    margin-top: 10px;
}

.item-quantity {
    padding: 0 15px;
}

.Loader{
    margin: auto;
    height: 500px;
    display: flex;

    span{
        align-self: center;
    }
}

.Prod_Detail_Container{
    display: flex;
    flex-direction: column;
    color: $Primary;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.Prod_Title_detail{
    font-size: 1.2rem;
}

.Prod_Price{
    font-size: 1.1rem;
    margin-top: 20px;
}

.Prod_Description{
    text-align: justify;
    margin-top: 30px;
    width: 90%;
}

.Img_product_detail{
    margin-top: 40px;
    width: 70%;
}