.NavBar {
    grid-area: Nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    color: $Primary;
    text-transform: uppercase;

    ul {
        display: flex;
        column-gap: 18px;
        margin: 15px 0;
    }

    li {
        list-style-type: none;
        font-weight: bold;
        font-size: 0.9rem;

        &:after {
            background: none repeat scroll 0 0 transparent;
            content: "";
            display: block;
            position: relative;
            height: 2px;
            left: 50%;
            background: $Primary;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }

        &:hover:after {

            width: 100%;
            left: 0;

        }
    }
}

a {
    text-decoration: none;
    color: $Primary;
}

.Cart {
    width: 1.7rem;
    height: 1.7rem;
}

@-webkit-keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}