.Form_Container{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin: 25px 0;
    width: 200px;
    background-color: rgb(238, 228, 214);
    padding: 15px;
    border-radius: 5px;
    color: $Primary;
}

.Form_Title{
    font-size: 1.2rem;
    margin-bottom: 15px;
}

input{
    display: flex;
    margin-bottom: 20px;
}

.btn-form{
    color: $Primary;
    background-color: rgb(207, 201, 190);
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.9rem;
    font-weight: bold;
}